<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="./assets/style.css" />
  </head>

  <body>
    <div id="app">
      <div class="cart">Cart: {{cart}}</div>
      <input type="number" :value="inStock" v-model="inStock" />
      {{ inStock }}
      <div class="product-display">
        <div class="product-container">
          <div class="product-image">
            <img :src="image" alt="img-product" />
          </div>
          <div class="product-info">
            <h1>{{ product_title }}</h1>
            <p v-if="inStock>10">In Stock</p>
            <p v-else-if="inStock <10 && inStock>=1">Almost of Stock</p>
            <p v-else>Out of Stock</p>
            <ul>
              <li v-for="detail in details">{{detail}}</li>
            </ul>
            <div
              v-for="variant in variants"
              ::key="variant.id"
              @mouseover="changeImage(variant.image)"
              class="color-circle"
              :style="{backgroundColor: variant.color}"
            ></div>
            <button
              class="button"
              :class="{disabledButton : inStock < 1}"
              v-on:click="addToCart"
              :disabled="inStock < 1"
            >
              Add to Cart
            </button>
          </div>
        </div>
      </div>
    </div>
    <script>
      const { createApp, ref } = Vue;

      createApp({
        setup() {
          const message = ref("Hello Vue!");
          const cart = ref(0);
          const addToCart = () => {
            cart.value += 1;
          };
          const image = ref("./assets/images/tShirtBlue.png");
          const changeImage = (variantImage) => {
            image.value = variantImage;
          };
          return {
            message,
            product_title: ref("Skibidi"),
            image,
            inStock: ref(100),
            details: ["50% Cotton", "30% Poyester", "20% Woll"],
            variants: [
              { id: 1, color: "blue", image: "./assets/images/tShirtBlue.png" },
              {
                id: 2,
                color: "green",
                image: "./assets/images/tShirtGreen.png",
              },
            ],
            cart,
            addToCart,
            changeImage,
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
